// Place all the styles related to the Uploads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.upload-document{
  height: 800px;
  width: 800px;
  position: relative;
  left: calc(50% - 400px);
}
.uploads{
  .upload{
    padding-top: 5px;
    padding-bottom: 5px;
    .img-responsive{
      width: 50%;
    }
    .file-placeholder{
      font-size: 10vw;
    }
    .text-small{
      font-size: 10px;
    }
  }
}
